<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="misdataMapper">

    <select id="getInterfaceDefMsg" parameterType="pd" resultType="pd">
        SELECT
        "CLASS_NAME",
        "METHOD_NAME",
        "DATABASE_ID",
        "SERVICE_NAME"
        FROM "AI_SERVICE_DEF"
        WHERE SERVICE_NAME = #{serviceName}
    </select>




</mapper>