<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rptDataMapper">

    <select id="getRptMsg" parameterType="pd" resultType="pd">
        SELECT RPT_ID, RPT_NAME, RPT_DESC, CREATE_DATE, MODIFY_DATE, STATE FROM MIS_RPT_DEFINE WHERE 1 = 1
        <if test="RPT_ID != NULL and RPT_ID != ''">
          AND RPT_ID = #{RPT_ID}
        </if>
        <if test="RPT_NAME != NULL and RPT_NAME != ''">
            AND RPT_NAME = #{RPT_NAME}
        </if>
        ORDER BY RPT_ID DESC
        
    </select>

    <insert id="addRptMsg" parameterType="pd" useGeneratedKeys="false">
        INSERT INTO MIS_RPT_DEFINE (RPT_ID, RPT_NAME, RPT_DESC, CREATE_DATE, STATE )
        <foreach collection = "list" item = "item" index = "index" separator="UNION ALL">
            SELECT
            #{item.RPT_ID} RPT_ID,
            #{item.RPT_NAME} RPT_NAME,
            #{item.RPT_DESC} RPT_DESC,
            sysdate CREATE_DATE,
            '1' STATE
            FROM dual
        </foreach>
    </insert>
    
    <update id="updRptMsg" parameterType="pd">
            <foreach collection="list" item="item" index="index" separator=";">
                UPDATE mis_rpt_define SET ${item.sql} WHERE RPT_ID = #{item.RPT_ID}
            </foreach>
    </update>

    <update id="updZbDataMsg" parameterType="pd">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE MIS_RPT_JTZB_DATA SET ${item.sql} WHERE ZB_ID = #{item.ZB_ID} AND OP_TIME = #{item.OP_TIME}
        </foreach>
    </update>
    
    <select id="RptMsgTotalCount" parameterType="pd" resultType="pd">
        SELECT count(*) as COUNT FROM MIS_RPT_DEFINE WHERE 1 = 1
        <if test="RPT_ID != NULL and RPT_ID != ''">
            AND RPT_ID = #{RPT_ID}
        </if>
        <if test="RPT_NAME != NULL and RPT_NAME != ''">
            AND RPT_NAME = #{RPT_NAME}
        </if>
    </select>

    <select id="getRptResult" parameterType="pd" resultType="pd">
        SELECT ID, OP_TIME, RPT_ID, RPT_NAME FROM MIS_RPT_RUN WHERE 1 = 1
        <if test="OP_TIME != NULL and OP_TIME != ''">
            AND OP_TIME = #{OP_TIME}
        </if>
        <if test="RPT_ID != NULL and RPT_ID != ''">
            AND RPT_ID = #{RPT_ID}
        </if>
        <if test="RPT_NAME != NULL and RPT_NAME != ''">
            AND RPT_NAME = #{RPT_NAME}
        </if>
        ORDER BY ID DESC
    </select>

    <select id="rptResultMsgTotalCount" parameterType="pd" resultType="pd">
        SELECT count(*) as COUNT FROM MIS_RPT_RUN WHERE 1 = 1
        <if test="OP_TIME != NULL and OP_TIME != ''">
            AND OP_TIME = #{OP_TIME}
        </if>
        <if test="RPT_ID != NULL and RPT_ID != ''">
            AND RPT_ID = #{RPT_ID}
        </if>
        <if test="RPT_NAME != NULL and RPT_NAME != ''">
            AND RPT_NAME = #{RPT_NAME}
        </if>
    </select>

    <select id="getRptZbMsg"  parameterType="pd" resultType="pd">
            select t1.OP_TIME,
            t1.RPT_ID,
            t1.ZB_ID,
            t1.ZB_NAME,
            t2.CITY_ID,
            t2.ZB_DATA as ZB_DATA_1,
            t3.ZB_DATA as ZB_DATA_2
            from MIS_ZB_DEFINE_RUN t1
            left join MIS_RPT_JTZB_DATA t2
            on (t1.zb_id = t2.zb_id and t1.OP_TIME = t2.op_time)
            left join MIS_RPT_JTZB_DATA_TMP t3
            on (t1.zb_id = t3.zb_id and t1.OP_TIME = t2.op_time)
            where t1.RPT_ID = #{RPT_ID} AND t1.OP_TIME = #{OP_TIME}
    </select>

</mapper>